<!DOCTYPE html>
<html>

<head>
    <title>Calculus</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>Calculus</h1>
    <p class="subtitle">Search videos without YouTube's clutter.</p>

    <form>
        <input
            name="q"
            placeholder="Search videos..."
            value="{{query}}">

        <button type="submit">
            🔍 Search
        </button>
    </form>

    <div class="grid">

        {% for video in videos %}

        <a href="/video/{{video.id}}" class="card">

            <img src="{{video.thumb}}">

            <div class="info">
                <h3>{{video.title}}</h3>
                <p>{{video.views}} views</p>
            </div>

        </a>

        {% endfor %}

    </div>

</div>

</body>

</html>